<div class="content" role="main">
  <div class="container-table100">
    <table class="table">
      <tbody>
        <tr>
          <th class="p-4">Port Expenses</th>
          <th class="p-4">Quoted</th>
          <th class="p-4">Screened</th>
        </tr>
        <tr>
          <td class="p-3">Barge Expenses</td>
          <td class="p-3">
            SGD 1000
            <br />
            <span>USD 759.82</span>
          </td>
          <td class="p-3">
            SGD 2000
            <br />
            <span>USD 759.82</span>
          </td>
        </tr>
        <tr>
          <td class="p-3">Fire Guard</td>
          <td class="p-3">
            SGD 2000
            <br />
            <span>USD 759.82</span>
          </td>
          <td class="p-3">
            SGD 1000
            <br />
            <span>USD 759.82</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Footer -->
  <footer></footer>
</div>

<router-outlet></router-outlet>
